body {
  color: rgba(183, 110, 121);
  background-color: #eae8e5;
}

.wrapper {
  display: flex;
  height: 80vh;
}

.filler-div {
  flex: 1;
}

.div-right {
  flex: 1;
  align-items: center;
}

.div-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.part-up {
  height: 40vh;
  justify-content: end;
  padding-bottom: 5vh;
  width: 80%;
}

.search-bar {
  height: 2rem;
  width: 100%;
  background-color: #eae8e5;
}

.part-down {
  height: 40vh;
}

.classes-div {
  border: 0.0625rem solid rgb(139, 128, 0);
  height: 1rem;
  padding: 0.9rem 6rem;
  margin: 10px 0;
  font-size: 20px;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(139, 128, 0);
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: -1px 2px 5px 0px rgb(105, 105, 105);
  height: 200px;
  transition: height 0.3s ease;
}

.container a {
  text-decoration: none;
  color: rgba(183, 110, 121);
}

.container:hover {
  height: 300px;
}

.row {
  padding: 10px;
  border-bottom: 1px solid rgb(139, 128, 0);
  display: flex;
  justify-content: space-between;
}

.row:hover {
  cursor: pointer;
  background-color: rgba(203, 203, 203, 0.215);
}

.fav-btn > img {
  max-height: 10px;
}

.fav-btn {
  border: none;
}

.blub {
  font-size: 25px;
  margin-bottom: 2vh;
  text-decoration: underline;
  color: rgba(183, 110, 121);
}

.container-fav {
  display: flex;
  flex-direction: column;
}

.column {
  color: rgb(0, 100, 0);
  font-family: "Coming Soon", cursive;
  flex: 1;
  border: 2px solid rgba(229, 228, 226);
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.column img {
  height: 15px;
  width: 15px;
}

.hr-column {
  flex: 0 0 auto;
  width: 80%;
  height: 2px;
  background-color: rgba(139, 128, 0);
  margin: 5px;
  border: none;
}
.cheeseburber-texto {
  color: rgb(0, 100, 0);
}

.cheeseburber-fonto {
  font-family: "Coming Soon", cursive;
}
