body {
    min-height: 100vh;
    margin: 0;
}

.flex {
display: flex;
}

.a-i-c {
align-items: center;
}

.j-c-c {
justify-content: center;
}

.f-d-c {
flex-direction: column;
}
.b-w-h {
background-color: rgb(250, 252, 252);
width: 180px;
height: 20px;
border: 2px solid rgb(0, 0, 0);
border-radius: 20px;
}

.b-w-h > p {
    margin: 0;
}
.space {
    padding-left: 6px;
}
.space2 {
    padding-right: 150px;
}

.div-1 {
  flex: 1;
  align-items: start;
  margin-top: 100px;
}

.tp {
 padding-top: 10vh;
 flex: 2;
 align-items: end;
 
}

.div-2 {
    margin-bottom: 20px;
}

.b-w-h-2 {
    background-color: rgb(250, 252, 252);
width: 200px;
height: 20px;
border: 2px solid rgb(0, 0, 0);
border-radius: 20px;
padding-left: 4px;
}

.b-w-h-3 {
    background-color: rgb(250, 252, 252);
width: 180px;
height: 20px;
border: 2px solid rgb(0, 0, 0);
border-radius: 20px;
padding-left: 110px;

}

.space3 {
    padding-right: 0px;
}