body {
  background-color: #eae8e5;
}
.wrapper {
  display: flex;
  height: 80vh;
}

.filler-div {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.div-right {
  flex: 1;
  align-items: center;
}

.div-left {
  flex: 1;
  align-items: center;
}

.section-div {
  border: 2px solid #8b8000;
  border-radius: 20px;
  height: 65vh;
  width: 25vw;
  /* margin-bottom: 5vh; */
}

.section-div-mid {
  height: fit-content;
  width: 90%;
}

.section-div-mid p {
  font-size: 50px;
  margin: 0;
}

.cheeseburber-texto {
  color: rgb(0, 100, 0);
}

.cheeseburber-fonto {
  font-family: "Coming Soon", cursive;
}

.cheeseburber-size {
  font-size: 40px;
}

.cheeseburber-size-cs {
  font-size: 55px;
}

.spacelul {
  padding: 1vw;
}

.pfp-div {
  justify-content: space-between;
  height: 20%;
}

.pfp-div img {
  border-radius: 50%;
  height: 100%;
}

.container-setting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: fit-content;
  padding: 20px;
  background-color: transparent;
  margin-top: 20px;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgba(139, 128, 0);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(139, 128, 0);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
